@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #003366;
  --secondary: #0099CC;
  --main: #CCCCCC;

  --primary-1: #004D40;
  --secondary-1: #FFD700;
  --main-1: #333333;

  --primary-2: #001F3F;
  --secondary-2: #FF851B;
  --main-2: #DDDDDD;
  --submain-2: #111111;

  --primary-3: #8B0000;
  --secondary-3: #2F4F4F;
  --main-3: #C0C0C0;

  --primary-4: #008080;
  --secondary-4: #FFBF00;
  --main-4: #708090;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  scroll-behavior: smooth;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-4) #333333;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  background: var(--secondary-1);
  background: var(--secondary-2);
  background: var(--secondary-3);
  background: var(--secondary-4);
  border-radius: 10px;
}

section {
  padding: 100px 24px;
}

h1, h2, h3, h4, h5, h6, p, a,
small, strong, span, li, button {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  color: #000000;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 56px;
  font-weight: 700;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 8px;
}

h6 {
  font-size: 36px;
  font-weight: 700;
}

strong {
  font-weight: 600;
}

p {
  font-size: 18px;
}

button {
  cursor: pointer;
  white-space: nowrap;
  border-radius: 8px;
  padding: 10px 16px;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
}

a:hover {
  text-decoration: underline;
}

.logo {
  width: 64px;
}

.arrow {
  font-size: 16px;
}

@media screen and (max-width: 1440px) {
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 24px;
  }
  h6 {
    font-size: 28px;
  }
  p, a, li, button, strong {
    font-size: 16px;
  }
}

@media screen and (max-width: 1040px) {
  section {
    padding: 60px 24px;
  }
}

@media screen and (max-width: 740px) {
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 20px;
  }
  h6 {
    font-size: 24px;
  }
  span {
    font-size: 24px;
  }
  p, a, li, button, strong {
    font-size: 16px;
  }
}

/* ==========>> header <<========== */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) -50%, rgba(255, 255, 255, 0) 100%);
  color: #FFFFFF;
  z-index: 10;
}

header nav {
  width: 100%;
}

header nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 48px;
}

header a {
  color: #FFFFFF;
}

header button {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

header button img {
  filter: invert(100%);
}

.header {
  display: flex;
  align-items: center;
  gap: 48px;
}

.header-lang {
  display: flex;
  align-items: center;
  gap: 8px;
}

.lang {
  color: #FFFFFF;
}

#menu-button {
  display: none;
  border: none;
  padding: 0;
}

.menu-icon {
  font-size: 32px;
}

@media screen and (max-width: 1240px) {
  header nav ul {
    gap: 24px;
  }
}

@media screen and (max-width: 1040px) {
  header {
    padding: 24px;
  }

  header nav ul {
    gap: 24px;
  }

  #menu-button {
    display: block;
  }

  header nav, .header-lang {
    display: none;
  }
}

/* ==========>> hero <<========== */

#hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #000000;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: opacity 0.8s ease-in-out;
  animation: zoomEffect 5s ease-in-out forwards;
}

.hero {
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 750px;
  width: 100%;
  border-radius: 16px;
  background-color: rgba(70, 70, 70, 0.3);
  backdrop-filter: blur(5px);
  padding: 24px;
  text-align: center;
  opacity: 0;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

.hero * {
  color: #FFFFFF;
}

.hero p {
  margin: 16px 0 24px 0;
}

.hero a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.item.active {
  opacity: 1;
  z-index: 2;
}

.item.next {
  opacity: 1;
  z-index: 1;
}

.hero.active {
  opacity: 1;
  transform: translateX(-50%);
  z-index: 2;
}

.hero.slide-out {
  opacity: 0;
  transform: translateX(-150%);
}

.hero.slide-in {
  opacity: 0;
  transform: translateX(50%);
}

@keyframes zoomEffect {
  30% {
    transform: scale(1) translate(0, 0);
  }
  70% {
    transform: scale(1.02) translate(var(--random-x), var(--random-y));
  }
}

.control {
  width: 100%;
  position: absolute; 
  left: 0;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 5;
}

.carousel-item {
  width: 32px;
  height: 10px;
  border-radius: 8px;
  border: 1px solid #FFFFFF;
  overflow: hidden;
  background: transparent;
  transition: background 0.1s linear;
  cursor: pointer;
}
.carousel-item:hover {
  background: rgba(255, 255, 255, 0.5);
}

#control-button {
  background-color: #FFFFFF;
  padding: 2px;
  border: none;
  border-radius: 100%;cursor: pointer;
}

#play {
  display: none;
  font-size: 12px;
}
#pause {
  font-size: 12px;
}

/* ==========>> about <<========== */

#about {
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: var(--primary);
  background-color: var(--primary-1);
  background-color: var(--primary-2);
  background-color: var(--primary-3);
  background-color: var(--primary-4);
  position: relative;
  min-height: 100vh;
}

#about h2 {
  color: #FFFFFF;
}

.about {
  position: relative;
}

.about-title {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 40%;
  z-index: 10;
  pointer-events: none;
}

.about-word {
  display: flex;
  gap: 10px;
}

.word {
  font-size: 100px;
  color: var(--secondary);
  color: var(--secondary-1);
  color: var(--secondary-2);
  color: var(--secondary-3);
  color: var(--secondary-4);
}

.word.left {
  transform: translateX(-100vw);
  filter: drop-shadow(0 0 5px #000000);
}

.word.right {
  transform: translateX(100vw);
  filter: drop-shadow(0 0 5px #000000);
}

.word.animate {
  animation: title-slide 1s forwards;
}

@keyframes title-slide {
  to {
    transform: translateX(0);
  }
}

.image-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 24px;
}

.image-container img {
  width: 100%;
  border-radius: 16px;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.8s ease-out;
}

.image-container img:nth-child(1) {
  grid-column: 1/3;
}
.image-container img:nth-child(2) {
  grid-column: 4/8;
}
.image-container img:nth-child(3) {
  grid-row: 2/3;
  grid-column: 2/5;
}
.image-container img:nth-child(4) {
  grid-row: 2/3;
  grid-column: 6/8;
}
.image-container img:nth-child(5) {
  grid-row: 3/4;
  grid-column: 1/4;
}
.image-container img:nth-child(6) {
  grid-row: 3/4;
  grid-column: 5/8;
}

.image-container img.visible {
  opacity: 1;
  transform: translateY(0);
}

.about-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.about-content h6 {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
  color: var(--secondary);
  color: var(--secondary-1);
  color: var(--secondary-2);
  color: var(--secondary-3);
  color: var(--secondary-4);
}

.about-content h6.animate {
  opacity: 1;
  transform: translateY(0);
}

.about-content p {
  font-size: 56px;
  font-weight: 700;
  color: #FFFFFF;
}

.number {
  font-size: 56px;
  color: #FFFFFF;
  font-weight: 700;
}

@media screen and (max-width: 820px) {
  .word {
    font-size: 64px;
  }

  .about-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-content h6:last-child {
    grid-column: 1/3;
  }
}

@media screen and (max-width: 540px) {
  .word {
    font-size: 48px;
  }
}

/* ==========>> quote <<========== */

#quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 64px;
  background-color: var(--primary);
  background-color: var(--primary-1);
  background-color: var(--primary-2);
  background-color: var(--primary-3);
  background-color: var(--primary-4);
}

#quote h3 {
  max-width: 1200px;
}

#quote h3 span {
  color: var(--secondary);
  color: var(--secondary-1);
  color: var(--secondary-2);
  color: var(--secondary-3);
  color: var(--secondary-4);
  transition: color 0.3s ease;
}

#quote h3 span.read {
  color: #FFFFFF;
}

.badge {
  display: flex;
  align-items: center;
  gap: 24px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar img {
  width: 120%;
  height: 120%;
  object-fit: cover;
}

.badge span {
  color: var(--main);
}

/* ==========>> partner <<========== */

#partner {
  text-align: center;
}

#partner h2 {
  color: var(--primary);
  color: var(--primary-1);
  color: var(--primary-2);
  color: var(--primary-3);
  color: var(--primary-4);
}

#partner p {
  max-width: 600px;
  margin: 0 auto;
}

.partner-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 48px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.partner-container::-webkit-scrollbar {
  display: none;
}

.partner {
  display: flex;
  gap: 80px;
  animation: scroll 40s linear infinite;
  white-space: nowrap;
  width: fit-content;
}

.partner img {
  height: 64px;
  width: auto;
  object-fit: contain;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50%));
  }
}

.partner:hover {
  animation-play-state: paused;
}

.partner-container::before,
.partner-container::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 100px;
  z-index: 2;
  pointer-events: none;
}

.partner-container::before {
  left: 0;
  background: linear-gradient(to right, white, transparent);
}

.partner-container::after {
  right: 0;
  background: linear-gradient(to left, white, transparent);
}

/* ==========>> solution <<========== */

#solution {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  gap: 64px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
  background-color: var(--secondary);
  background-color: var(--secondary-1);
  background-color: var(--secondary-2);
  background-color: var(--secondary-3);
  background-color: var(--secondary-4);
}

#solution.visible {
  opacity: 1;
  transform: translateY(0);
}

#solution h2 {
  color: var(--primary);
  color: var(--primary-1);
  color: var(--primary-2);
  color: var(--primary-3);
  color: var(--primary-4);
}

.solution-img {
  max-width: 700px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  position: relative;
}

.solution-img img {
  width: 440px;
  height: 360px;
  border-radius: 16px;
  position: absolute;
}

.solution-img img:last-child {
  right: 0;
  bottom: 0;
}

.solution-content {
  max-width: 700px;
  width: 100%;
}

.solution-content li {
  list-style: disc;
  margin-left: 24px;
  margin-top: 24px;
}

.solution-content a {
  color: var(--primary);
  color: var(--primary-1);
  color: var(--primary-2);
  color: var(--primary-3);
  color: var(--primary-4);
  text-decoration: underline;
  font-weight: 600;
}

.solution-content p {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media screen and (max-width: 1240px) {
  .solution-img {
    max-width: 700px;
    max-height: 520px;
  }
  .solution-img img {
    width: 360px;
    height: 280px;
  }
}

@media screen and (max-width: 1040px) {
  #solution {
    flex-direction: column-reverse;
    height: auto;
    text-align: center;
  }

  .solution-img {
    min-height: 460px;
    display: flex;
  }

  .solution-content li {
    list-style: none;
    margin-left: 0;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 540px) {
  .solution-img {
    min-height: 360px;
    display: flex;
  }
  .solution-img img {
    width: 280px;
    height: 220px;
  }
}

/* ==========>> material <<========== */

#material, #engeneering {
  text-align: center;
  background-color: var(--primary);
  background-color: var(--primary-1);
  background-color: var(--primary-2);
  background-color: var(--primary-3);
  background-color: var(--primary-4);
}

#material h2, #engeneering h2 {
  color: var(--secondary);
  color: var(--secondary-1);
  color: var(--secondary-2);
  color: var(--secondary-3);
  color: var(--secondary-4);
}

#material > p, #engeneering > p {
  color: #FFFFFF;
}

.material {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.engeneering {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}

.material div, .engeneering div {
  cursor: pointer;
  width: 100%;
  border-radius: 16px;
  padding: 24px 24px 36px 24px;
  background-color: #FFFFFF;
  text-align: start;
  transition: all 0.3s;
}

.material h4, .engeneering h4 {
  transition: all 0.3s;
}

.material div:hover h4, .engeneering div:hover h4 {
  color: var(--secondary);
  color: var(--secondary-1);
  color: var(--secondary-2);
  color: var(--secondary-3);
  color: var(--secondary-4);
}

#material h2, #material p {
  max-width: 1000px;
  margin: 0 auto;
}

.underline {
  text-decoration: underline;
  color: var(--primary);
  color: var(--primary-1);
  color: var(--primary-2);
  color: var(--primary-3);
  color: var(--primary-4);
}

@media screen and (max-width: 1240px) {
  .material {
    grid-template-columns: repeat(2, 1fr);
  }
  .engeneering {
    grid-template-columns: repeat(4, 1fr);
  }
  .engeneering div:nth-child(1) {
    grid-column: 1/3;
  }
  .engeneering div:nth-child(2) {
    grid-column: 3/5;
  }
  .engeneering div:nth-child(3) {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .engeneering div:nth-child(4) {
    grid-row: 2/3;
    grid-column: 3/5;
  }
  .engeneering div:nth-child(5) {
    grid-row: 3/4;
    grid-column: 1/5;
  }
}

@media screen and (max-width: 640px) {
  .material, .engeneering {
    grid-template-columns: 1fr;
  }
  
  .engeneering div:nth-child(1),
  .engeneering div:nth-child(2),
  .engeneering div:nth-child(3),
  .engeneering div:nth-child(4) {
    grid-row: initial;
    grid-column: initial;
  }
  
  .engeneering div:nth-child(5) {
    display: none;
  }
}

/* ==========>> material <<========== */

#polymer {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

#polymer.visible {
  opacity: 1;
  transform: translateY(0);
}

#polymer > h2 {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 48px;
  color: var(--secondary);
  color: var(--secondary-1);
  color: var(--secondary-2);
  color: var(--secondary-3);
  color: var(--secondary-4);
}

.polymer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  gap: 64px;
}

.polymer h3, .polymer strong {
  color: var(--secondary);
  color: var(--secondary-1);
  color: var(--secondary-2);
  color: var(--secondary-3);
  color: var(--secondary-4);
}

.polymer-img {
  max-width: 700px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  position: relative;
}

.polymer-img img {
  width: 440px;
  height: 360px;
  border-radius: 16px;
  position: absolute;
}

.polymer-img img:first-child {
  right: 0;
}
.polymer-img img:last-child {
  bottom: 0;
}

.polymer-content {
  max-width: 700px;
  width: 100%;
}

.polymer-content h3 {
  font-weight: 700;
}

.polymer-content li {
  list-style: disc;
  margin-left: 24px;
  margin-top: 24px;
}

@media screen and (max-width: 1240px) {
  .polymer-img {
    max-width: 700px;
    max-height: 520px;
  }

  .polymer-img img {
    width: 360px;
    height: 280px;
  }
}

@media screen and (max-width: 1040px) {
  .polymer {
    flex-direction: column-reverse;
    height: auto;
    text-align: center;
  }

  .polymer-img {
    min-height: 460px;
    display: flex;
  }

  .polymer-content {
    max-width: initial;
  }

  .polymer-title {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    text-align: start;
  }

  .polymer h3 {
    font-size: 24px;
  }

  .polymer-content li {
    list-style: none;
    margin-left: 0;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 540px) {
  .polymer-img {
    min-height: 360px;
    display: flex;
  }

  .polymer-img img {
    width: 280px;
    height: 220px;
  }

  .polymer-title {
    flex-direction: column;
    text-align: center;
  }
}

/* ==========>> service <<========== */

#service {
  text-align: center;
  background-color: var(--secondary);
  background-color: var(--secondary-1);
  background-color: var(--secondary-2);
  background-color: var(--secondary-3);
  background-color: var(--secondary-4);
}

#service > h2, #service > p {
  max-width: 1280px;
  margin: 0 auto;
  color: var(--primary);
  color: var(--primary-1);
  color: var(--primary-2);
  color: var(--primary-3);
  color: var(--primary-4);
}

.service {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
}

.service div {
  border-radius: 16px;
  padding: 24px;
  text-align: start;
  background-color: var(--main);
  min-height: 220px;
}

.service div:nth-child(1) {
  grid-column: 1/3;
}
.service div:nth-child(2) {
  grid-column: 3/5;
}
.service div:nth-child(3) {
  grid-column: 5/7;
}
.service div:nth-child(4) {
  grid-row: 2/3;
  grid-column: 1/4;
}
.service div:nth-child(5) {
  grid-row: 2/3;
  grid-column: 4/7;
}

.service h4, .service p {
  color: var(--primary);
  color: var(--primary-1);
  color: var(--primary-2);
  color: var(--primary-3);
  color: var(--primary-4);
}

@media screen and (max-width: 1040px) {
  .service {
    grid-template-columns: repeat(2, 1fr);
  }

  .service div:nth-child(1),
  .service div:nth-child(2),
  .service div:nth-child(3),
  .service div:nth-child(4) {
    grid-column:  initial;
  }

  .service div:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 1040px) {
  .service {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 24px;
  }

  .service > div {
    min-width: 360px;
  }

  .service div:nth-child(5) {
    display: block;
  }
}

/* ==========>> product <<========== */

.product-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product {
  display: flex;
  gap: 24px;
  margin-top: 48px;
  padding-bottom: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.card-img {
  margin-bottom: 16px;
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card p {
  color: #696A6E;
}

@media screen and (max-width: 1040px) {
  .card-img {
    height: 320px;
  }
}

@media screen and (max-width: 820px) {
  .card p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

@media screen and (max-width: 740px) {
  .product {
    overflow-x: scroll;
  }
  
  .card-img {
    height: 240px;
  }

  .product-title {
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }
}

/* ==========>> footer <<========== */

footer {
  padding: 48px 24px;
  display: flex;
  background-color: var(--primary);
  background-color: var(--primary-1);
  background-color: var(--primary-2);
  background-color: var(--primary-3);
  background-color: var(--primary-4);
}

footer * {
  color: #FFFFFF;
}

footer h2 {
  color: var(--secondary);
  color: var(--secondary-1);
  color: var(--secondary-2);
  color: var(--secondary-3);
  color: var(--secondary-4);
}

footer > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

footer nav {
  width: 100%;
}

footer ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

footer img {
  width: 40%;
}

.info {
  max-width: 60%;
}

@media screen and (max-width: 1240px) {
  footer {
    flex-direction: column;
  }
  footer img {
    width: 60%;
    margin: 24px auto;
  }
}

@media screen and (max-width: 640px) {
  .info {
    max-width: initial;
  }

  footer ul {
    grid-template-columns: 1fr;
  }

  footer img {
    width: 90%;
  }
}